In [22]:
import pandas as pd
import sqlite3
import os
from DateColumnsScript import schema_dict

In [28]:
columns = list(schema_dict.keys())

In [29]:
df = pd.read_csv('sf-loan-performance-data-sample.csv', sep="|", header=None, names=columns)

In [30]:
df.head()

,Reference_Pool_ID,Loan_Identifier,Monthly_Reporting_Period,Channel,Seller_Name,Servicer_Name,Master_Servicer,Original_Interest_Rate,Current_Interest_Rate,Original_UPB,...,ARM_Plan_Number,Borrower_Assistance_Plan,High_Loan_to_Value_HLTV_Refinance_Option_Indicator,Deal_Name,Repurchase_Make_Whole_Proceeds_Flag,Alternative_Delinquency_Resolution,Alternative_Delinquency_Resolution_Count,Total_Deferral_Amount,Payment_Deferral_Modification_Event_Indicator,Interest_Bearing_UPB
0,NaN,100023020488,82009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,100023020488,92009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,100023020488,102009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,100023020488,112009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,100023020488,122009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.iloc[:,0]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
752   NaN
753   NaN
754   NaN
755   NaN
756   NaN
Name: Reference_Pool_ID, Length: 757, dtype: float64

In [34]:
date_columns = [2, 13, 14, 17, 36, 43, 45, 49, 50, 51, 63, 65, 80, 82, 90, 91]

for i in date_columns:
    print(df[columns[i]].head())

# for date in date_columns:
#     print(df.iloc[:,date].head())

0     82009
1     92009
2    102009
3    112009
4    122009
Name: Monthly_Reporting_Period, dtype: int64
0    82009
1    82009
2    82009
3    82009
4    82009
Name: Origination_Date, dtype: int64
0    102009
1    102009
2    102009
3    102009
4    102009
Name: First_Payment_Date, dtype: int64
0    240.0
1    240.0
2    238.0
3    238.0
4    236.0
Name: Maturity_Date, dtype: float64
0    N
1    N
2    N
3    N
4    N
Name: Interest_Only_First_Principal_And_Interest_Payment_Date, dtype: object
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Zero_Balance_Effective_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Repurchase_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Last_Paid_Installment_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Foreclosure_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Disposition_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Original_List_Start_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Current_List_Start_Date, dtype: float64
0    N
1    N
2    N
3    N
4    N
Name: Zero_Balance_Code_Change_Date, dtype: object
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Loan_Holdback_Effective_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Next_Interest_Rate_Adjustment_Date, dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Next_Payment_Change_Date, dtype: float64