In [1]:
import pandas as pd
import os
from sql_table_schema_parser import SQLTableSchemaParser 
from sql_commands import create_table

In [2]:
# Instantiate parser
sql_parser = SQLTableSchemaParser(sql_command=create_table)

# Get schema and date columns
schema_dict = sql_parser.get_schema_dict()
indices_by_type = sql_parser.get_indices_by_type()
date_col_indices = sql_parser.get_date_col_indices()

columns = schema_dict.keys()

bool_col_indices = sql_parser.get_bool_col_indices()

In [9]:
test_file = '/Users/matthewtryba/Library/CloudStorage/Dropbox/01 Matt/Tryba Documents/GitHub/Portfolio-Projects/05 Mortgage Home Loan Analysis/test_csv_folder/2023_sample.csv'
df = pd.read_csv(test_file, sep="|", header=None, names=columns)
df.head()

for key, value in indices_by_type.items():
    if key == 'DATE':
        for i in value:
            df.iloc[:,i].astype('datetime64[ns]')
    elif key == 'BOOLEAN':
        for i in value:
            df.iloc[:,i].astype('bool')
    elif key == "INTEGER":
        for i in value:
            df.iloc[:,i].astype('Int64')
    elif key == "NUMERIC":
        for i in value:
            df.iloc[:,i].astype('float')
    elif key == 'VARCHAR':
        for i in value:
            df.iloc[:,i].astype('object')

In [10]:
date_df = df.iloc[:,date_col_indices]
date_df

,Monthly_Reporting_Period,Origination_Date,First_Payment_Date,Maturity_Date,Interest_Only_First_Principal_And_Interest_Payment_Date,Zero_Balance_Effective_Date,Repurchase_Date,Last_Paid_Installment_Date,Foreclosure_Date,Disposition_Date,Original_List_Start_Date,Current_List_Start_Date,Zero_Balance_Code_Change_Date,Loan_Holdback_Effective_Date,Next_Interest_Rate_Adjustment_Date,Next_Payment_Change_Date
0,72023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,82023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,92023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,82023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,72023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,82023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,92023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,72023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,82023,62023,82023,72053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
integer_df = df.iloc[:,sql_parser.indices_by_type['INTEGER']]
integer_df.dtypes
# file_path = 'og_bool_check.csv'
# bool_df.to_csv(file_path, index=False)

Original_Loan_Term                            int64
Loan_Age                                    float64
Remaining_Months_to_Legal_Maturity          float64
Remaining_Months_to_Maturity                float64
Number_of_Borrowers                           int64
Borrower_Credit_Score_at_Origination        float64
Co_Borrower_Credit_Score_at_Origination     float64
Number_of_Units                               int64
Metropolitan_Statistical_Area_MSA             int64
Months_to_Amortization                      float64
Borrower_Credit_Score_At_Issuance           float64
Co_Borrower_Credit_Score_At_Issuance        float64
Borrower_Credit_Score_Current               float64
Co_Borrower_Credit_Score_Current            float64
Initial_Fixed_Rate_Period                   float64
Interest_Rate_Adjustment_Frequency          float64
ARM_Plan_Number                             float64
Alternative_Delinquency_Resolution_Count    float64
dtype: object