In [1]:
import pandas as pd
import os
from sql_table_schema_parser import SQLTableSchemaParser 
from sql_commands import create_table

In [2]:
# Instantiate parser
sql_parser = SQLTableSchemaParser(sql_command=create_table)

# Get schema and date columns
schema_dict = sql_parser.get_schema_dict()
date_col_indices = sql_parser.get_date_col_indices()

columns = schema_dict.keys()

bool_col_indices = sql_parser.get_bool_col_indices()

In [3]:
df = pd.read_csv('sf-loan-performance-data-sample.csv', sep="|", header=None, names=columns)
df.head()

,Reference_Pool_ID,Loan_Identifier,Monthly_Reporting_Period,Channel,Seller_Name,Servicer_Name,Master_Servicer,Original_Interest_Rate,Current_Interest_Rate,Original_UPB,...,ARM_Plan_Number,Borrower_Assistance_Plan,High_Loan_to_Value_HLTV_Refinance_Option_Indicator,Deal_Name,Repurchase_Make_Whole_Proceeds_Flag,Alternative_Delinquency_Resolution,Alternative_Delinquency_Resolution_Count,Total_Deferral_Amount,Payment_Deferral_Modification_Event_Indicator,Interest_Bearing_UPB
0,NaN,100023020488,82009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,100023020488,92009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,100023020488,102009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,100023020488,112009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,100023020488,122009,R,Other,Other,NaN,5.375,5.375,55000.0,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
date_df = df.iloc[:,date_col_indices]
date_df

,Monthly_Reporting_Period,Origination_Date,First_Payment_Date,Maturity_Date,Interest_Only_First_Principal_And_Interest_Payment_Date,Zero_Balance_Effective_Date,Repurchase_Date,Last_Paid_Installment_Date,Foreclosure_Date,Disposition_Date,Original_List_Start_Date,Current_List_Start_Date,Zero_Balance_Code_Change_Date,Loan_Holdback_Effective_Date,Next_Interest_Rate_Adjustment_Date,Next_Payment_Change_Date
0,82009,82009,102009,92029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,92009,82009,102009,92029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,102009,82009,102009,92029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,112009,82009,102009,92029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,122009,82009,102009,92029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,22020,72009,92009,82039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,32020,72009,92009,82039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,42020,72009,92009,82039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,52020,72009,92009,82039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756,62020,72009,92009,82039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bool_df = df.iloc[:,bool_col_indices]
# file_path = 'og_bool_check.csv'
# bool_df.to_csv(file_path, index=False)